@{
    ViewData["Title"] = "Home Page";
}

@*<div class="text-center">
        <h1 class="display-4">Welcome</h1>
        <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    </div>*@

<section>

    <div class="text-container">
        <p>Hello,</p>
        <p>I&#8217;M OLUWASEUN</p>
        <p>Software Engineer <br>dotNet Developer</p>
    </div>
    <!--model---------------------->
    <img alt="model" class="model" src="~/img/Seun-removebg.png">
</section>
<div class="about-container">
    <!--img-->
    <img src="~/img/WIN_20200812_14_13_59_Pro-removebg-preview.png" />
    <!--about-me-text-->
    <div class="about-text">
        <p>About Me</p>
        <p>Software Engineer</p>
        <p>Hello,My name is Oluwaseun Oyetoyan. I am a dotNet Developer.A young, enthusiastic and ambitious graduate of Computer Engineering, skilled in software development, who is passionate about learning and self-development.</p>
        <p>A team player who is dynamic, dedicated to work and solving problems.</p>
    </div>
</div>
<!--services-container---------------------------->
<div class="services ">
    <!--text-->
    <div class="services-text ">
        <p>Projects</p>
        <p></p>
        <p>Some of the projects I've done include:</p>
    </div>
    <div class="box-container">
        <!--1------------->
        <div class="box-1">
            <span>1</span>
            <p class="heading">Bank App</p>
            <p class="details">a bank model application using Windows Console and OOP principles</p>
        </div>
        <!--2------------->
        <div class="box-2">
            <span>2</span>
            <p class="heading">Lyric Finder:</p>
            <p class="details">An app that gets the lyrics of any song and also gets the lyrics of the top ten tracks</p>
            
        </div>
        <!--3------------->
        <div class="box-3">
            <span>3</span>
            <p class="heading">Tracalorie</p>
            <p class="details">A meal and calorie tracker.</p>
        </div>
    </div>
</div>
<!--if you have any project in your mind contact me-->
<div class="contact-me">
    <p>If You Have Any Project In Your Mind ?</p>
    <button>Contact me</button>
</div>


